@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<address>
    <strong>My github:</strong> <a href="https://github.com/marwanissak" target="_blank">github.com/marwanissak</a><br />
    <strong>Working API site:</strong> <a href="https://resa.azurewebsites.net/" target="_blank">resa.azurewebsites.net/</a>
</address>
