@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Grundläggaregatan 20<br /></strong>
    <strong>603 48 Norrköping<br /></strong>
    <strong>Phone number : 0762249256 <br /></strong>
    <strong>Email : marwanissak@hotmail.com</strong>
</address>

