@{
    ViewData["Title"] = "Home Page";
}



<div class="row">

    <div class="col-md-3">
        
        <ul>
            
            <img src="https://drive.google.com/uc?export=view&id=1KrdXJIx1Er4qyFFrxdLJWNlRj7Gk-yAZ" style="width: 500px; max-width: 100%; height: auto" title="Click for the larger version." />

        </ul>
    </div>

    <div class="col-md-0">
        
        <ul>
            <h1> Jag heter Marwan ,24år, bosatt i Norrköping.</h1>
            <h1> Jag är en dataingenjör och programmerare som </h1>
            <h1> sysslar med olika projekt där ni kan hitta på min github.</h1>






        </ul>
    </div>
</div>

