@{
    ViewData["Title"] = "Home Page";
}



<div class="row">

    <div class="col-md-3">
        
        <ul>
            
            <img src="https://drive.google.com/uc?export=view&id=1KrdXJIx1Er4qyFFrxdLJWNlRj7Gk-yAZ" style="width: 500px; max-width: 100%; height: auto" title="Click for the larger version." />

        </ul>
    </div>

    <div class="col-md-0">
        
        <ul>
            <h1> My name is Marwan,i am 24 years old, living in </h1>
            <h1> Norrköping. I am a computer engineer and </h1>
            <h1> a programmer, you can check most of my projects on my github.</h1>






        </ul>
    </div>
</div>

